sudo: required
dist: xenial
addons:
  apt:
    packages:
    - rpm
language: python
python:
  - "3.6"
  - "3.7"
install:
  - pip install tox tox-travis coveralls
script:
  - tox
after_success:
  - coveralls
